h2 {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Nunito Sans', sans-serif; /*Used before: Arial, sans-serif. This is Google fonts alternative to Avenir Light used in Wix*/
  margin: auto;
  padding: 1rem;
  overflow-x: hidden;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  /*Removed the font weight to match Wix's minimalist style*/
}

input, select {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000; /* You can change the color and thickness of the line */
  outline: none;
  box-shadow: none;
}

/* Add this to style the dropdown arrow of the select element */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  padding-right: 1.5em;
}

/* This is needed to remove the default dropdown arrow on IE */
select::-ms-expand {
  display: none;
}


input[type="text"],
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000; /* You can change the color and thickness of the line */
  outline: none;
  box-shadow: none;
}

button {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em; /* 1.5 times bigger than the parent element's font size */
  width: 100%;
  padding: 0.5rem;
  background-color: black;  /*#007bff*/
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: grey;  /*#0056b3*/
}

#result {
  margin-top: 2rem;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/*Change way to display things depending on screen. The font changes work. The label positions DON'T work*/
@media (max-width: 480px) {
  .label {
    font-size: 0.8rem; /* Adjust this value according to your preference */
  }

  #essential-fat {
    left: 0%;
  }

  #athlete {
    left: calc(24% - 25px);
  }

  #in-shape {
    left: calc(54.5% - 30px);
  }

  #obese {
    right: 0%;
  }
}

/*Slider style*/
.slider {
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, blue 12%, green 12%, green 36.5%, orange 36.5%, orange 70%, red 70%);
  position: relative;
  border-radius: 3px;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  background-color: white;
  border: 2px solid blue;
}

.labels {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: black;
  margin-top: 20px;
}

.label {
  position: absolute;
}
